# Hero background video (Mux HLS stream)
# Override these to use a different Mux playback ID
NEXT_PUBLIC_MUX_HLS_URL=https://stream.mux.com/Gs3wZfrtz6ZfqZqQ02c02Z7lugV00FGZvRpcqFTel66r3g.m3u8
NEXT_PUBLIC_MUX_MP4_URL=https://stream.mux.com/Gs3wZfrtz6ZfqZqQ02c02Z7lugV00FGZvRpcqFTel66r3g/high.mp4
